@model IEnumerable<WorkersOrder.Models.Reservations>
@{ 
    int idsount=0;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Panel.css" />
</head>
<body>
    <main>
        <img src="~/image/solbegLogo.png" width="300" />
        <table >
            <tr>
                <td class="tds">IDWorker</td>
                <td class="tds">Start Date</td>
                <td class="tds">End Date</td>
                <td class="tds">Status</td>
            </tr>
            @foreach (var item in Model)
            {
                idsount++;
                    <tr>
                        <td class="tds">@item.IDWorker</td>
                        <td class="tds">@item.StartDate.ToString()</td>
                        <td class="tds">@item.EndDate.ToString()</td>
                        <td class="tds">@item.Status</td>
                        <td>
                            <form>
                                <input asp-action="ChangesAdmin" asp-controller="Panel" class="button" type="submit" id="button" name="Changes" value="Change" />
                                <input type="hidden" name="ID" value="@item.ReservationID" />
                            </form>
                        </td>
                        <td>
                            <form>
                                <input asp-action="DetailsAdmin" asp-controller="Panel" class="button" type="submit" id="button" name="Details" value="Details" />
                                <input type="hidden" name="ID" value="@item.ReservationID" />
                            </form>
                        </td>
                        <td>
                            <form asp-action="Admin"asp-controller="Panel">
                                <input class="button" type="submit" id="button" name="Delete" value="Delete" />
                                <input type="hidden" name="ID" value="@item.ReservationID" />
                            </form>
                        </td>
                    </tr>
            }
        </table>
        <table>
            <tr>
                <td>
                    <form>
                        <input asp-action="AddWorkplace" asp-controller="Panel" type="submit" class="button" value="Add">
                        <input type="hidden" name="count" value="@idsount" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form>
                        <input asp-action="Logout" asp-controller="Account" type="submit" class="button" value="Log Out">
                    </form>
                </td>
            </tr>
            <tr>
                <td style="text-align:left; margin: 4px 0 0 0; border: 2px solid #ffffff;">
                    User:<p>@ViewData["UserName"] @ViewData["UserSurname"]</p>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>