
@{ 
    IEnumerable<WorkPlaces> workPlaces = Model;
    int id = ViewBag.Id;
    int countDevices = 0;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Changes.css" />
</head>
<body>
    <main>
        
            <img src="~/image/solbegLogo.png" width="300" />
            <table id="tabChanges">
                @{ 
                    foreach (var item in workPlaces)
                    {
                        if (item.OrderID != id) continue;
                        countDevices++;
                                <tr>
                                    <td>
                                        @item.DevicesID
                                    </td>
                                    <td>
                                        @item.Discription
                                    </td>
                                    <td>
                                        <form>
                                            <input asp-action="ChangeDevicesAdmin" asp-controller="Panel" class="button" type="submit" id="button" name="Changes" value="Change" />
                                            <input type="hidden" name="ID" value="@item.DevicesID" />
                                        </form>
                                    </td>
                                    <td>
                                        <form>
                                            <input asp-action="DeleteDetails" asp-controller="Panel" class="button" type="submit" id="button" name="Delete" value="Delete" />
                                            <input type="hidden" name="ID" value="@item.DevicesID" />
                                        </form>
                                    </td>
                                    
                                </tr>
                    }
                }
            </table>
            <form>
                <table>
                   <tr>
                       <td>

                           @if (countDevices == 5)
                           {<input asp-action="AddDetailsAdmin" asp-controller="Panel" class="button" type="hidden" id="button" name="Add" value="Add" />
                           }
                           else
                           {
                               <input asp-action="AddDetailsAdmin" asp-controller="Panel" class="button" type="submit" id="button" name="Add" value="Add" />
                               <input type="hidden" name="CountDevices" value="@countDevices" />
                           }

                           <input type="hidden" name="ID" value="@id" />
                       </td>
                       <td>
                           <input type="submit" class="button" name="Back" value="Back"/>
                       </td>
                   </tr>
                </table>
            </form>
    </main>
</body>
</html>